# Data Types and Structures Questions

1. What are data structures, and why are they important?
  >> Data structure is are building block of computer which can stores in the form of strings, lists,dictionaries,sets, organise the data and manipulet data efficiantly. and also helps to handle the data in meaningfull way. its easy to acess so data structures are important.

2. Explain the difference between mutable and immutable data types with examples?
  >> mutable data types > The data type which can easily modifies easily according to our needs we can easily add,remove,replace,change or assigne new value in data structure.  examples are list, sets, dictionaries etc.
  >> Immutable data structure >> The data structure which can not modify they are fixed. examples are string, tupple etc.

3. What are the main differences between lists and tuples in Python?
  >> lists are mutable data structure which can easily modified according to need but Tupples are immutable they can not modify either we can create a new tupple or copy them to modify.

4. Describe how dictionaries store data?
  >> Dictionary stores the data in {} this brackets in the form of key:value pair in single or double quote if data is str if data is int or float then no need of quotes. example = {"name":"Ramesh","mobile":1234567890}

5. Why might you use a set instead of a list in Python?
  >> Set have ability to store unique element and we can add multiple elements in it without any repeatition so sets are used insted of lists.

6. What is a string in Python, and how is it different from a list?
  >> string is the data structure which is written in "" double or '' single or triple single/double quotes which is used to store values/any things and they are immutable but list are muttable as like strings are different from list.

7. How do tuples ensure data integrity in Python?
  >>Tupples are immutable and their values can not be changed after creating this structre uses as we need to handle data as like tupples insures integrity.

8. What is a hashable, and how does it relate to dictionaries in Python?
  >> if the hashvalue of an element is doesnot change. it is usable as key in dictionaries. Immutable typws like strings, numbers and tuples are hashsable they ensuring data integrity.

9. Can lists contain different data types in Python?
  >> yes list conatains integer, strings, float, or other list also.

10. Explain why strings are immutable in Python?
  >>  Strings are immmutable to ensure sequrity, thread sefty and prioritizing safety, consistenccy and efficiency.

11. What advantages do dictionaries offer over lists for certain tasks?
  >> Dictionaries are more efficient in organising data as key value pairs, and they have fadster lookup due to key based acess. Dictionaries show flexible and discriptive data .

12. Describe a scenario where using a tuple would be preferable over a list
  >> if we want to strores employ id/employee names  of a company worker that will never edited/changed so we have to stored them in tupple not list. to manage data efficiently and prevents accidental changes.

13. How do sets handle duplicate values in Python?
  >> set stores unique elements in set and atomatically remove duplicate values without any error.

14. How does the “in” keyword work differently for lists and dictionaries?
  >> In list "in" keyword check the value is present in list or not. while in dictionaries it checks the key is present or not it doesnt check value in dicttionary.

15. Can you modify the elements of a tuple? Explain why or why not
  >> No, Tuple is immutable data type means we can not modify it but we can create a new tuple as modified tupple.

16. What is a nested dictionary, and give an example of its use case?
  >> nested dictionary means dictionary in dictionary. info = {"schol": "xyz", "class":"data science","students":{"stu1":"arav", "stu2":"rakesh", "stu3":"ravi"}} . This is example and it is used to stores some key-pairs in value of main dictionary.

17. Describe the time complexity of accessing elements in a dictionary.
  >> Accessing an element in a dictionary is usually very fast because Python uses a system called hashing to find things quickly. Most of the time.

18. In what situations are lists preferred over dictionaries?
  >> If we have to store only values, or stores duplicate elements then we have to prefer list over dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  >> Dictionaries are considered unordered because their elements (key-value pairs) don’t have a fixed sequence—they are stored based on hash values, not their insertion order

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  >> In list we can access elements by indexing beacuse its ordered elements, but Dictionaries are unordered collection of data so, we access values using key is the main difference list and dictionaries for data retrival.

# Practical Questions

In [1]:
# Q1. Write a code to create a string with your name and print it?

name = "Prathamesh"
print(name)

Prathamesh

In [2]:
# Q2. Write a code to find the length of the string "Hello World"

a = "Hello World"
print(len(a))

11

In [5]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming"

a = "Python Programing"
print(a[0:3])

Pyt

In [8]:
# Q4. Write a code to convert the string "hello" to uppercase

h = "hello"
print(h.upper())

HELLO

In [9]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

x = "I like apple"
x1 = x.replace("apple", "Orange")
print(x1)

I like Orange

In [10]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it

l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [11]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [13]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [14]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [20]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

l = [10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [22]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [23]:
# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [25]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

t = (10, 20, 5, 15)
print(min(t))

5

In [26]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [29]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruit = ('mango', 'kiwi', 'orange')
a = "kiwi" in fruit
print(a)

True

In [32]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [33]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [35]:
# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [36]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3} 
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [37]:
# Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3} 
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [38]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d = {"name":"prathamesh", "age":22, "city":"Beed"}
print(d)

{'name': 'prathamesh', 'age': 22, 'city': 'Beed'}

In [42]:
# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

a = {'name': 'John', 'age': 25}
a.update({"country":"USA"})
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [43]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d = {'name': 'Alice', 'age': 30}
print(d.get("name"))

Alice

In [44]:
# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [1]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [ ]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

#list is here
l = [1, "Ram", 5,8, "sita"]
print(l,type(l))

#here is tuple
t =(1, "Ram", 5,8, "sita")
print(t, type(t))

#here is dictionary
d = {"name":"Arav", "number":454575}
print(d,type(d))

[1, 'Ram', 5, 8, 'sita'] <class 'list'>
(1, 'Ram', 5, 8, 'sita') <class 'tuple'>
{'name': 'Arav', 'number': 454575} <class 'dict'>

In [49]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the 
# result.(replaced)

l = [87, 56,97,1,76]
l.sort()
print(l)

[1, 56, 76, 87, 97]

In [50]:
# Q28. Write a code to create a list with strings and print the element at the third index.

l = ["Sachin", "Nilesh", "Santosh","Vinod"]
print(l[3])

Vinod

In [52]:
# Q29. Write a code to combine two dictionaries into one and print the result.

a = {"name":"Ram", "age":26}
b = {"city":"banglore", "profession":"Data scientiest"}
a.update(b)
print(a)

{'name': 'Ram', 'age': 26, 'city': 'banglore', 'profession': 'Data scientiest'}

In [54]:
# Q30. Write a code to convert a list of strings into a set.

l = ["Sachin", "Nilesh", "Santosh","Vinod","Nilesh"]
l = set(l)
print(l)

{'Vinod', 'Nilesh', 'Santosh', 'Sachin'}